/* admin side */
.table, h1, h2, h3, p, div, a, table, th, td {
    margin: 0;
    padding: 0;
  }
  .table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  .table th {
    background-color: #f2f2f2;
  }
  .table img {
    border-radius: 20vh;
    height:7vh;
    width: 7vh;
}
.login{
  margin: auto;
  width: 50%;
  text-align: center;
}
.login input{
  margin-top: 1vh;
}



.navlinks {
  background-color: #000000;
  overflow: hidden;
}

.navlinks a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.7vh 1vh;
  text-decoration: none;
}