/* Resetting default margins and paddings */
body, .table, h1, h2, h3, p, div, a, table, th, td {
  margin: 0;
  padding: 0;
}

/* Table styles */
.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f0f0f0;
}

/* Profile picture style */
#prfpic {
  border-radius: 20vh;
  height: 7vh;
  width: 7vh;
}

/* Login form style */
.login {
  margin: auto;
  width: 50%;
  text-align: center;
}

.login input {
  margin-top: 1vh;
}

/* Navigation links style */
.navlinks {
  background-color: #0b5394;
  border-bottom: 1px solid #0b5394;
}

.navlinks ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.navlinks li {
  float: left;
}

.navlinks a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 1.5vh 2vh;
  text-decoration: none;
}

.navlinks a:hover {
  background-color: #0b406d;
}

/* Button styles */
.delete-button, .edit {
  border: none;
  padding: 1vh 2vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6vh;
  cursor: pointer;
  border-radius: 0.5vh;
}

.edit:hover {
  background-color: #18548c;
}

.delete-button:hover {
  background-color: #ff0000;
}

/* Main content area style */
.main {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5vh;
}

/* Comments style */
.comments {
  border: 0.1vh solid #ccc;
  margin-bottom: 1vh;
  padding: 1vh;
}

#comment-text {
  font-size: 2vh;
}

#comment-author {
  color: #888;
}

